@import '../../styles/scss/custom-variables';
@import '../../styles/scss/custom-mixins';

.search-box-show {
    .form-control {
        width: 300px;
        outline: none;
        box-shadow: none;
        border: 1px solid $secondary;
        padding: 15px 10px;
        color: $dark;
        position: absolute;
        top: 64px;
        // right: 0px;
        right: 5%;
        z-index: 3;
        @include fontStyle(14px, 400);

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $secondary;
        }
    }
}

@media(max-width:991px) {
    .search-box-show {
        .form-control {
            top: 70px;
            left: 0;
        }
    }

}

@media(max-width:768px) {
    .search-box-show {
        .form-control {
            width: 280px;
        }
    }
}

@media(max-width:375px) {
    .search-box-show {
        .form-control {
            width: 240px;
        }
    }
}