//  SCSS For Display -Grid

@import "../../styles/scss/custom-variables";
@import "../../styles/scss/custom-mixins";

.wishlist {
  margin: 0 20px;

  .headline_highlighted {
    background-color: $primary;
    color: $text-decoration-color;
    padding: 10px 25px;
    border-radius: 6px;

    h3 {
      margin-bottom: 0;
    }
  }

  .wishlist-wrapper {
    .wishlist-history-wrapper {
      .wishlist-history {
        padding: 10px;

        .whish_content_wrap {
          display: flex;

          .inner_wrap {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;

            .rupee_wrap {
              display: flex;
              justify-content: flex-start;
            }

            .delete_wrap {
              display: flex;
              justify-content: center;
            }

            .product {
              display: flex;
              justify-content: center;
              align-items: center;

              p {
                min-width: 115px;
              }

            }
          }
        }

        .image_wrapper {
          width: 88px;
          height: 88px;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      max-height: 600px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.625rem;
      }

      &::-webkit-scrollbar-track {
        background: #f8f8f8;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bcbcbc;
        border-radius: 10px;
      }



      // Changes in flex To grid
      .wishlist-history {
        // display: grid !important;
        // grid-template-columns: repeat(6, 1fr);
        // place-items: center;
        display: flex;
        border-radius: 4px;
        border: 1px solid #e1e1e1;
        background: #f9f9f9;
        width: 98%;
        gap: 5px;

        >* {
          display: flex;
          align-items: center;
          // justify-content: center;
          justify-content: space-between;
          width: 100%;
        }

        h5 {
          @include fontStyle(18px, 600);
        }

        p {
          @include fontStyle(16px, 400);
        }
      }

      .wishlist-history+.wishlist-history {
        margin-top: 15px;
      }
    }

    // updated Scss 
    .custom-button {
      @include fontStyle(14px, 400);
      padding: 12px 24px;
      box-shadow: none;
      font-weight: 500;
      background-color: transparent !important;
      color: $primary;

      &:hover {
        background-color: $primary !important;
        color: white
      }

    }

    .custom-icon-button {
      @include fontStyle(14px, 400);
      border: 2px solid $primary;
      color: $primary;
      background-color: transparent;

      // &:hover {
      //   img {
      //     filter: brightness(1.9); //Updated 

      //   }

      //   border: 2px solid $primary;
      //   color: #ffffff;
      //   background-color: $primary !important;
      // }
    }
  }
}

.product {
  // margin: 10px;
  text-align: center;
  justify-content: center;

  p.product_status {
    font-size: 16px;
    padding: 5px 12px;
    //   border-radius: 5px;
    width: auto !important;

    &.product_status_in {
      color: #22670F;
      border-radius: 90px;
      background: #DAFFD0;
      font-weight: 600 !important;

    }
  }
}





@media (max-width: 767px) {
  .wishlist {
    .wishlist-wrapper {
      .wishlist-history-wrapper {
        .wishlist-history {
          h5 {
            gap: 20px;
            // padding: 15px 30px;
            // padding: 15px 0;
            font-size: 14px;
            margin: 0;

          }

          .whish_content_wrap {
            // padding: 10px;
            // display: grid !important;
            // grid-template-columns: repeat(6, 1fr);
            // place-items: center;
            flex-direction: column;
            align-items: flex-start;

            .inner_wrap {
              display: grid !important;
              grid-template-columns: repeat(2, 2fr);
              align-items: center;
              // place-items: center;
              gap: 3px;
            }

            .rupee_wrap {
              padding: 7px 0;

              p {
                font-size: 14px;
              }
            }

            .image_wrapper {
              width: 97px;
              height: 102px;
            }

            .custom-button {
              padding: 4px 10px;
            }

            .product {
              margin-top: -51px;

              p {
                font-size: 12px;
                padding: auto;

              }
            }

            .add_cart_wrap {
              button {
                font-size: 14px;
              }
            }
          }
        }

        // border: 1px solid red;

        // >* {
        //   font-size: 14px !important;
        //   display: flex;
        //   align-items: center !important;
        //   justify-content: center !important;
        // }

        img {
          margin: 0 auto;

        }

        // }
      }

    }


  }
}


// @media (max-width: 425px) {
//   .wishlist .wishlist-wrapper .wishlist-history-wrapper .wishlist-history .whish_content_wrap .inner_wrap .product p {
//     font-size: 12px;
//     // white-space: nowrap;


//   }
// }