@import '../../styles/scss/custom-variables';
@import '../../styles/scss/custom-mixins';

.breadcrumbs{
    ul{
        display: inline-flex;
    }

    li a {
        @include fontStyle(14px, 300);
        color: $secondary;
    }

    .seperator{
        padding: 0 5px;
    }

    .active, .visited {
        color: $dark;
    }
}